@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: var(--font-raleway-sans);
  font-size: 48px;
  font-weight: 400;
  color: #2c3459;
}

h3 {
  font-family: var(--font-raleway-sans);
  font-size: 24px;
  font-weight: 400;
  color: #2c3459;
}

h4 {
  font-family: var(--font-raleway-sans);
  font-size: 20px;
  font-weight: 400;
  color: #9da0b2;
}

h5 {
  font-family: var(--font-raleway-sans);
  font-size: 18px !important;
  font-weight: 500;
  color: #9da0b2;
}

h6 {
  font-family: var(--font-raleway-sans);
  font-size: 16px;
  font-weight: 400;
  color: #9da0b2;
}

p {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  color: #9da0b2;
  line-height: 1.3rem;
}

.btn {
  display: inline-block;
  font-size: 17px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  line-height: inherit;
  border-radius: 0;
  text-transform: capitalize;
  width: auto;
  font-family: var(--font-open-sans);
  font-weight: 500;
  transition-duration: 0.3s;
  transition: all 0.3s !important;
  transition-timing-function: ease-in-out;
}

.green {
  color: #99d747;
}

a:hover {
  color: #e25111;
}

.btn.btn-large {
  font-size: 14px;
  padding: 9px 34px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.btn.btn-green {
  background: #99d747;
  border-color: #99d747;
  color: #ffffff !important;
  transition: 1s;
  cursor: pointer;
}

.btn.btn-green:hover {
  background-color: #2c3459;
  border-color: #2c3459;
}

.btn.btn-green-orange {
  background: #99d747;
  border-color: #99d747;
  color: #ffffff !important;
  transition: 1s;
  cursor: pointer;
}

.btn.btn-green-orange:hover {
  background: #e25111;
  border-color: #e25111;
  color: #ffffff !important;
  transition: 1s;
  cursor: pointer;
}

.btn.btn-blue {
  background: #2c3459;
  border-color: #2c3459;
  color: #ffffff !important;
  transition: 1s;
  cursor: pointer;
}

.btn.btn-blue:hover {
  background: #e25111 !important;
  border-color: #e25111;
  color: #ffffff !important;
  transition: 1s;
  cursor: pointer;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  mix-blend-mode: darken;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  width: 40px;
  height: 40px;
  background: #ffff00;
  animation: l7 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}

@keyframes l7 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important
;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-top-default {
  position: absolute;
  top: 0;
  z-index: 99;
  overflow: hidden;
  height: 90px;
  width: 100%;
  transition: all 0.1s ease;
}

.header-appear .navbar-top-default {
  height: 80px;
  position: fixed;
  z-index: 999;
  background: #fff;
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

/* navbar header */
.navbar-top-default .navbar-nav .nav-link {
  font-family: var(--font-open-sans);
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 0 0 0;
  margin-right: 1.1rem;
  margin-left: 1.1rem;
  text-transform: capitalize;
  display: inline-block;
}

.nav-radius .navbar-nav .nav-link {
  padding: 0.6rem 1.3rem;
  border-radius: 36px;
}
.nav-radius .navbar-nav .nav-link {
  margin: 0 0.1rem;
}

.nav-radius .navbar-nav .nav-link.active {
  background: #99d747;
  color: #ffffff !important;
}

.contact-img {
  padding-top: 120px;
  padding-bottom: 120px;
  background-attachment: fixed;
  background-size: cover;
  background-position: initial;
}

.top-banner-cover {
  position: relative;
  background-size: "cover";
  background-repeat: "no-repeat";
  background-attachment: "fixed";
  background-position: "center 59.5125px";
}

.top-banner-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c3459;
  opacity: 0.5;
  z-index: 1;
}

.bg-blue {
  background-color: #2c3459;
  margin-top: 100px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.icon-hover-effect {
  transition: 1s;
}

.about-padding {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #99d747;
  border-radius: 50%;
  max-width: 115px;
  transition: 1s;
  margin: 0 auto;
}

.about-padding:hover {
  background-color: #e25111;
  transition: 1s;
}

.about-padding2 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: #2c3459;
  border-radius: 50%;
  max-width: 115px;
  transition: 1s;
  margin: 0 auto;
}

.about-padding svg,
.about-padding2 svg {
  font-size: 40px;
  color: #fff;
  transition: 1s;
}

.about-padding2:hover {
  background-color: #e25111;
  transition: 1s;
}

.serial-box span {
  font-size: 40px;
  font-family: var(--font-open-sans);
  color: #2c3459;
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

.serial-box p {
  color: #2c3459;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.date,
.date-2 {
  position: absolute;
  top: 5px;
  background: #ffffff;
  right: 10px;
  z-index: 99;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #3c3f46;
  padding: 18px 22px 18px 22px;
  text-align: center;
  transition: 0.3s;
}

.blog-text {
  max-width: 500px;
}

.blog-text h2 {
  font-size: 40px;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-family: var(--font-open-sans);
  line-height: 1.3;
}

.blog-text p {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  color: #9da0b2;
  line-height: 1.3rem;
}

.feedback-slides .client-thumbnails {
  position: relative;
  max-width: 450px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.feedback-slides .client-thumbnails .item .img-fill {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.feedback-slides .client-thumbnails .item .img-fill img {
  opacity: 0.8;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  transform: scale(0.7);
}

.feedback-slides .client-thumbnails .item .img-fill img {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.feedback-slides .client-thumbnails .item .title {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin: 20px -100px 0;
  text-align: center;
}

.feedback-slides .client-thumbnails .swiper-slide-next .img-fill img {
  border-color: #002e5b;
  opacity: 1;
  transform: scale(1);
}

.feedback-slides .client-thumbnails .swiper-slide-next .title {
  opacity: 1;
  visibility: visible;
}

.page_nav {
  text-align: center;
  font-size: 13px;
}

.angle-font {
  font-size: 14px;
}

.rare-box {
  height: 195px;
  width: 100%;
  position: relative;
  left: 0.5rem;
  background: #99d747;
}

.image-about {
  top: -155px;
  margin-left: 30px;
  margin-bottom: -145px;
}

.orange {
  color: #e25111;
}

ul.left-about li {
  color: #9da0b2;
  font-size: 14px;
}

ul.left-about li svg {
  padding-right: 15px;
}

.price-item {
  border: 2px solid #ffffff;
  padding: 32px 12px;
  border-radius: 4px;
  max-width: 380px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.price-tag {
  padding: 15px 0;
  text-align: left;
  border-top: 2px solid rgba(111, 123, 133, 0.18);
  border-bottom: 2px solid rgba(111, 123, 133, 0.18);
}

.price {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.price .currency {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

.price .sign {
  font-size: 22px;
  font-weight: 500;
  vertical-align: super;
  padding-right: 5px;
}

.price .month {
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-align: right;
  padding-right: 8px;
  padding-top: 8px;
}

price-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  max-width: 212px;
}

ul.packages {
  padding: 20px 0;
  margin: 0;
}

ul.packages li {
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  list-style-type: none;
  color: #2c3459;
}

ul.packages li svg {
  display: inline-block;
  width: 24px;
  padding-right: 5px;
  stop-color: #99d747;
  fill: #99d747;
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-form .form-group {
  margin-top: 30px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-form textarea {
  min-height: 175px;
  resize: none;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  font-size: 14px;
  padding: 0;
  height: 40px;
  background: transparent;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0;
  background: #fff;
  letter-spacing: 0.7px;
  font-weight: 300;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 44px;
  color: #a5a5a5;
  font-size: 14px;
  position: relative;
  transition: border 0.9s ease;
}

.comment {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.heading_space {
  margin-bottom: 2rem;
}

.widget {
  /* -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35); */
  padding: 25px 15px;
  background: #f6f6f6;
  border-radius: 5px;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.widget_search .form-control {
  border: 1px solid #c2c4ca;
  padding: 0 0 0 10px;
  line-height: 40px;
  height: 40px;
  font-size: 15px;
  z-index: 9;
}
.widget_search .form-control {
  border: 1px solid #c2c4ca;
  padding: 0 0 0 10px;
  line-height: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  z-index: 9;
}
.widget_search .form-control {
  border: 1px solid #c2c4ca;
  padding: 0 0 0 10px;
  line-height: 40px;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  z-index: 9;
}
.widget_search .form-control {
  width: 214px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.widget_search .form-control,
.widget_search .input-group-addon {
  border-color: #d6d5d5;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: table-cell;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.widget_search .input-group-addon {
  height: 40px;
  background-color: #99d747;
  color: #fff;
  position: relative;
  top: 0;
  width: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.single_post .post {
  height: 60px;
  width: 60px;
  padding-right: 10px;
}

ul.social_icon li,
.webtags li,
.commment li {
  display: inline-block;
}

.webtags li a {
  border-radius: 24px;
  color: #2c3459;
  font-size: 12px;
  margin: 2px 0;
  padding: 5px 16px;
  border: 1px solid #c7c7c7;
  display: block;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.webtags li {
  margin: 1px;
}

.webtags li a:hover {
  background: #99d747;
  color: #fff;
}

.webcats li a {
  display: block;
  margin: 5px 0;
  font-weight: 400;
  padding-bottom: 7px;
  border-bottom: 1px solid #c7c7c7;
  text-decoration: none;
}

.webcats li a > span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  font-size: 12px;
  height: 24px;
  width: 24px;
  text-align: center;
  color: #c7c7c7;
  line-height: 24px;
  float: right;
}

.webcats li a:hover {
  color: #99d747;
}

.webcats li a:hover > span {
  background: #99d747;
  color: #fff;
}

.sidebar-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  z-index: 1031;
  opacity: 0.4;
}

.side-menu {
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  background: #2c3459;
  z-index: 1032;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease;
  overflow: hidden;
}

.side-menu.side-menu-active,
.side-menu.before-side {
  transform: translate3d(0, 0, 0);
}

.side-menu .inner-wrapper {
  padding: 3.5rem;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}

.side-menu .btn-close {
  height: 33px;
  width: 33px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}

.side-menu .btn-close::before,
.side-menu .btn-close::after {
  position: absolute;
  left: 16px;
  content: " ";
  height: 24px;
  width: 2px;
  background: #fff;
  top: 5px;
}

.side-menu .btn-close:before {
  transform: rotate(45deg);
}

.side-menu .btn-close:after {
  transform: rotate(-45deg);
}

.side-nav .navbar-nav .nav-item {
  display: block;
  margin: 10px 0;
  padding: 0 !important;
  opacity: 0;
  transition: all 0.8s ease 500ms;
  transform: translateY(30px);
}

.side-nav .navbar-nav .nav-item:first-child {
  transition-delay: 0.1s;
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
  transform: translateY(0);
  opacity: 1;
}

.side-nav .navbar-nav .nav-link {
  display: inline-table;
  color: #fff;
  padding: 2px 0 3px 0 !important;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  border-radius: 0;
}

.side-nav .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.social-icons-simple {
  margin-bottom: 0;
  margin-left: -10px;
}

.social-icons-simple li {
  display: inline-block;
}

.social-icons-simple li a {
  display: block;
  font-size: 16px;
  height: 36px;
  line-height: 38px;
  border: 1px solid transparent;
  text-align: center;
  width: 36px;
  color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.5s ease;
}
